.Login-SectionRegiser {
    margin-top: 5rem;
    height: 150%;
    gap: 50rem !important;
}

.Login-SectionRegiser {
    margin-top: 5rem;
    height: 150%;
    gap: 50rem !important;
}

.Login-Section-Div-PadreRegister {
    gap: 1rem;
}

.IconPersonRegister {
    top: 0.5rem;
}

.IconPersonRegister>svg>path {
    color: yellowgreen !important;
}
.inputEmail{
    appearance: none;
    width: 80%;
    border: none;
    border-bottom: 0.2rem solid #ffffff;
    background: none;
    color: var(--frutillita);
    padding: 0.4rem;
}