body {
    background-color: #1C1C1C;
    background-image: linear-gradient(to left bottom, #ed1e5e, #eb1b85, #dc32ad, #be4dd2, #8b66f1);
    height: 100%;
}

.home-body-tweets {
    background-color: white;
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.5rem;
    height: 15rem;
    padding: 15px;
    box-shadow: 0px -17px 61px 9px rgba(237, 30, 94, 0.5);
    background-color: #3b3b3b;
    border-radius: 1rem;
    position: relative;
}

.tweetText {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    color: white;
}

.date {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #8b66f1 solid 0.03rem;
    border-radius: 0.3rem;
    width: 3.5rem;
}

.home-body-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tweet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex-direction: column;
}

.home-body {
    background-color: white;
    width: 70%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.5rem;
    height: 15rem;
    padding: 15px;
    box-shadow: 0px -17px 61px 9px rgba(237, 30, 94, 0.5);
    border-radius: 1rem;
    background-color: #3b3b3b;
}

.pfpHome {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
    border: #ed1e5e solid 0.1rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.delete-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 1.9rem;
    height: 1.9rem;
    background: none;
    border-style: none;
    border: #dc32ad solid 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.usernameHome {
    position: absolute;
    top: 1.5rem;
    left: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #8b66f1 solid 0.03rem;
    border-radius: 0.3rem;
    width: 3.5rem
}

.div-card-home {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}

.div-input {
    width: 90%;
    height: 100%;
    padding: 1rem;
}

.text-area {
    width: 100%;
    resize: none;
    height: 80%;
    color: black;
}

.div-button {
    width: 100%;
    height: 100%;
}

.button-idea {
    width: 100%;
    height: 100%;
    color: #1C1C1C;
    transition: 0.3s;
    border-radius: 0.5rem;
    background-color: white;
    border: none;
}

.button-idea:hover {
    /* /* border: red solid 0.1rem;
    box-shadow: 4px 3px 18px 1px rgba(233, 30, 99, 1);
    -webkit-box-shadow: 4px 3px 18px 1px rgba(233, 30, 99, 1);
    -moz-box-shadow: 4px 3px 18px 1px rgba(233, 30, 99, 1); */
    transition: 0.3s;
    transform: scale(1.1);
}