@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.Body-Container_Account {
    width: 100%;
    height: 100vb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Body-Container_Account .Body-Container_Account-edit {
    /* padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem; */
    background-color: var(--negrito);
    width: 60%;
    height: 50%;
    border: solid 0.3rem #F8F8FF;
    border-radius: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    flex-direction: column;
    gap: 1rem;
    gap: 7rem;
}

.pruebaPrimera {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    position: absolute !important;
    z-index: 9999;
    top: 20rem;
}

.imagenPpt {
    width: 200px;
    height: 200px;
}

.pruebaPrimera>img {
    border-radius: 50%;
    position: absolute !important;
    border: 0.3rem solid #F8F8FF;
    ;
}

.Body-Container_Account .Body-Container_Account-edit .Body-Container_Account-Followers {
    position: relative;
    right: 1rem;
    height: 10%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    /* border: 0.3rem solid green; */
    position: relative;
    bottom: 0.5rem;
}

.Body-Container_Account-Followers {
    height: 10%;
    width: 100%;
}

.Body-Container_Account .Body-Container_Account-edit .Body-Container_Account-Name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.Body-Container_Account .Body-Container_Account-edit .Body-Container_Account-Biography {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    position: relative;
    bottom: 1.5rem;
}

.Body-Container_Account-h3 {
    color: var(--negrito);
    position: relative;
    top: 3rem;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    color: #F8F8FF;
}

.ButtonImg {
    color: var(--negrito) !important;
}

.login-body {
    height: 100vh;
}

/*!----------------------  */
.Prueba {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 4rem;
    position: relative;
    width: 100%;
}

.ButtonImg {
    border: 0.3rem solid #F8F8FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Followers,
.Follows,
.Likes {
    width: 100%;
    background-color: var(--negrito);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 3rem;
    border-radius: 1rem;
}

.DivButton {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

/*!BUtton Properties  */
.btn {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.btn:hover .btn-slide-show-text1 {
    margin-left: 65px;
}

.btn-shadow {
    display: inline-block;
    margin: 5px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    background: none;
    outline: none;
    border: medium;
}

.btn-shadow::before {
    content: "";
    height: 40px;
    position: absolute;
    bottom: -1px;
    left: 10px;
    right: 10px;
    z-index: 0;
    border-radius: 2em;
    filter: blur(14px) brightness(0.9);
}

.btn-shadow span {
    display: inline-block;
    transform-style: preserve-3d;
    transition: 0.3s ease-out;
    padding: 16px 60px;
    border-radius: 50em;
    position: relative;
    z-index: 2;
    will-change: transform, filter;
}

.btn-shadow:hover {
    color: rgb(255, 255, 255);
}

.btn-shadow:hover span {
    filter: brightness(0.9) contrast(1.2);
    transform: scale(0.96);
}

.btn-shadow:hover::before {
    bottom: 8px;
    filter: blur(6px) brightness(0.8);
    left: 15px;
    right: 15px;
}

.btn-shadow--purple span {
    background: rgb(61, 52, 139);
}

.Body-Container_Account {
    width: 100% !important;
    height: 100vh !important;
}