* {
    list-style: none;


}

.textNavBar {
    color: #F8F8FF;
    font-family: 'Degular';
}

.headerHeader {
    background: rgba(12, 12, 12, 0.81) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(12, 12, 12, 1);
    width: 100%;
    height: 5rem;
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    background: rgba(12, 12, 12, 0.81) !important;

}

.div-Padre {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Logo {
    display: flex;
    justify-content: flex-start;
    width: 50%
}

.div-Padre>nav>ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.75rem;
    height: 5rem;
}




.Li_Create {
    transition: 0.3s;
    width: 35%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;


}

.li {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.Li_SignUp {
    width: 20%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;

}

.Li_World {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.Li_World>a>svg {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*! Nuevo CSS */
.navHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navHeader .div-logo {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.li:hover {
    border: red solid 0.1rem;
    box-shadow: 4px 3px 18px 1px rgba(233, 30, 99, 1);
    -webkit-box-shadow: 4px 3px 18px 1px rgba(233, 30, 99, 1);
    -moz-box-shadow: 4px 3px 18px 1px rgba(233, 30, 99, 1);
    border-radius: 0.5rem;
    transition: 0.3s;
    transform: scale(1.1);
}

.navHeader .other {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    height: 100%;
    gap: 1rem;
    margin: 0.5rem;
}

.navHeader .other .CreateAccount {
    display: flex;
    justify-content: center;
    width: 7rem;
    transition: 0.4s;

}

.navHeader .other .SingUp {
    display: flex;
    justify-content: center;
    width: 5rem;
    transition: 0.4s;
}

.navHeader .other .TbWorld {
    display: flex;
    justify-content: center;
    width: 1rem;
    transition: 0.4s;
}

.navHeader .other .TbWorld {
    display: flex;
    align-items: center;
    height: 100%;
    transition: 0.4s;
}

.navHeader .other .TbWorld>svg {
    display: flex;
    align-items: center;
}

.navHeader .other .TbWorld>svg>path {
    display: flex;
    align-items: center;
}

.div-input-search {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 20%;
}

.inputSearch {
    background-color: none;
    background-color: #352f36;
    border: none;
    width: 100%;
    height: 2rem;
}